<h2>Edit Card</h2>

<button class="btn btn-primary" @onclick="() => DataContext.SaveCardCommand.Execute(null)">Ok</button>
<button class="btn btn-secondary" @onclick="() => DataContext.CancelEditCardCommand.Execute(null)">Cancel</button>

<form>
    <div class="row mb-3">
        <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" @bind="DataContext.CardUnderEdit.BusinessCard.Title">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFirstName" @bind="DataContext.CardUnderEdit.FirstName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLastName" @bind="DataContext.CardUnderEdit.LastName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCompany" @bind="DataContext.CardUnderEdit.Company">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputStreet" class="col-sm-2 col-form-label">Street</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputStreet" @bind="DataContext.CardUnderEdit.Street">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="inputHouseNumber" @bind="DataContext.CardUnderEdit.HouseNumber">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputZip" class="col-sm-2 col-form-label">Zip Code / City</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="inputZip" @bind="DataContext.CardUnderEdit.BusinessCard.ZipCode">
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCity" @bind="DataContext.CardUnderEdit.BusinessCard.City">
        </div>
        
    </div>
    <div class="row mb-3">
        <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPhone" @bind="DataContext.CardUnderEdit.BusinessCard.Phone">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputMobilePhone" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMobilePhone" @bind="DataContext.CardUnderEdit.BusinessCard.MobilePhone">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" @bind="DataContext.CardUnderEdit.BusinessCard.Email"
                   placeholder="name@example.com">
        </div>
    </div>
</form>
